html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

#status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  background: rgba(0, 0, 0, 0.10);
  padding: 1em;
  border-radius: 0.15rem;
}
